name: Build Extension

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
    
    - run: chmod +x ./gradlew && ./gradlew build
    
    - uses: actions/upload-artifact@v3
      with:
        name: complete-build
        path: build/
